ul {
  padding: 0;
  line-height: 1px;
}
li {
    border: 1px solid #000;
    display: inline-block;
    margin: 1px;
    text-align: center;
    font-size: xx-small;
    line-height: 1;
}

.throb {
    /* 30ms is the lowest duration that works */
    animation-name: throb;
    animation-duration: 30ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    /*
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    */
}

@keyframes throb {
    0% {
        color: white;
        background-color: red;
    }
    5% {
        color: black;
        background-color: #ffcccc;
    }
    100% {
        color: black;
        background-color: white;
    }
}
